.containor {
    color: white;
    border-radius: 20px;
    max-width: 50%;
    margin-left: 50%;
    min-height: 100px;
    background-color: rgb(23, 21, 21);
    animation-duration: 3s;
    animation-name: animate;
    box-shadow: 5px 10px rgb(138, 135, 135);
} 

h2{
    text-shadow: 1px 1px rgb(234, 231, 231);
}

@keyframes animate {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 50%;
        width: 50%;
    }
}
.containor-2 {
    color: white;
    border-radius: 20px;
    max-width: 50%;
    
    min-height: 100px;
    background-color: rgb(23, 21, 21);
    animation-duration: 3s;
    animation-name: animate2;
    box-shadow: 5px 10px rgb(138, 135, 135);
} 

h2{
    text-shadow: 1px 1px rgb(234, 231, 231);
}

@keyframes animate2 {
    from {
        margin-left: -50%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 50%;
    }
}


